@model IEnumerable<WebPasajero.Models.Pasajero>

<p>
    @Html.ActionLink("Ir al Inicio", "Index", "Home") 
    @Html.ActionLink("Create", "Create", "Pasajero")
    @Html.ActionLink("Filter by City", "ListaPorCiudad", "Pasajero", new {ciudad = "Mar del Plata"}, null)  <!--Probar otras ciudades con JQuery-->
    @Html.ActionLink("Filter by Birthdate", "ListaPorFechaNacimiento", "Pasajero", new {fecha = "Jan 1, 0001"})
</p>

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.FechaNacimiento)</th>
            <th>@Html.DisplayNameFor(model => model.Ciudad)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ciudad)</td>
                </tr>
    }
    </tbody>
</table>