@model IEnumerable<WebPasajero.Models.Pasajero>

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.FechaNacimiento)</th>
            <th>@Html.DisplayNameFor(model => model.Ciudad)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ciudad)</td>
                </tr>
    }
    </tbody>
</table>

<p>
    @Html.ActionLink("Create", "Create", "Pasajero")
</p>
<p>
    @Html.ActionLink("List by City", "ListaPorCiudad/Rosario", "Pasajero")
    @Html.ActionLink("List by Birthday", "ListaPorFechaNacimiento", "Pasajero")
</p>