<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Poppins:wght@300&family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
             <section id="logo">
                <img  height="30" src="~/bookShop.png" />
            </section>
            <section id="links">
                <nav>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Stores", "Index", "Store")</li>
                    </ul>
                </nav>
                <section id="sign">Sign up</section>
            </section>
        </div>

        <div class="quote">@RenderSection("quote", required: false)</div>


        <main>
            <article>
            @RenderBody()
            </article>     
            <aside id="botd">
                <div>
                    @RenderSection("botd", required: false)
                </div>
            </aside>

        </main>
        <footer> e-mail: <a href="mailto:alumnos@educacionit.com">alumnos@educacionit.com</a> in partnership with <a href="mailto:accentureargentina@gmail.com">accentureargentina@gmail.com</a> </footer>
</body>
</html>