@model WebEscuelaMVC.Models.Aula

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>
        <h2>New Classroom</h2>
        @using (Html.BeginForm("Create", "Aula", FormMethod.Post))
        {
            <p>
                @Html.LabelFor(model => model.Numero)
                @Html.EditorFor(model => model.Numero)
                @Html.ValidationMessageFor(model => model.Numero)
            </p>

            <p>
                @Html.LabelFor(model => model.Estado)
                @Html.EditorFor(model => model.Estado)
                @Html.ValidationMessageFor(model => model.Estado)
            </p>
                <input type="submit" value="Create" />
                @Html.ActionLink("Go to index", "Index")
        }
    </div>
</body>
</html>
