@model IEnumerable<OperasWebSite.Models.Opera>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <!--Agrego link-->
        @Html.ActionLink("New Opera", "Create", "Opera")
    </p>
   
    <table>
        <tr>    <!--Renglón/Cabecera con nombres de las propiedades-->
            <th>@Html.DisplayNameFor(model => model.Title) </th>
            <th>@Html.DisplayNameFor(model => model.Compositor) </th>
            <th>@Html.DisplayNameFor(model => model.Year) </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr> <!--renglón-->
                <td> @Html.DisplayFor(modelItem => item.Title)</td><!--celda-->
                <td> @Html.DisplayFor(modelItem => item.Compositor)</td>
                <td> @Html.DisplayFor(modelItem => item.Year)</td>
                <td> @Html.ActionLink("Details", "Details", new { id = item.OperaId })</td> <!-- Display(int id)-->
                <td> @Html.ActionLink("Delete", "Delete", new { id = item.OperaId })</td><!-- Delete(int id)-->
            </tr>
        }

    </table>
</body>
</html>
